/* --FOOTER-- */
.social-media a {
  text-decoration: none;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding: 0 10px 7rem 10px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7rem;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header .page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  font-weight: 900;
  text-decoration: uppercase;
}

.main-navigation {
  z-index: 99;
}

#hamburger {
  display: none;
  color: var(--primary-color);
  margin: 0 40px 0 0;
}

#toggle {
  display: none;
}

/* Nav. brackets go out  */
.container a {
  text-decoration: none;
  margin: 0px 10px;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 10px;
  z-index: 0;
}

.brackets a:before,
.brackets a:after {
  position: absolute;
  opacity: 0;
  top: 8px;
  transition: all 0.3s;
}

.brackets a:before {
  content: "(";
  left: 0px;
  transform: translateX(10px);
}

.brackets a:after {
  content: ")";
  right: 0px;
  transform: translateX(-10px);
}

.brackets a:hover:before,
.brackets a:hover:after {
  opacity: 1;
  transform: translateX(0px);
}

@media all and (max-width: 712px) {
  #hamburger {
    display: block;
    cursor: pointer;
    width: 50px;
    font-size: 30px;
    font-weight: 700;
    float: right;
    margin-right: 0;
  }
  .navigation-list {
    text-align: center;
    width: 100%;
    display: none;
    clear: right;
    position: absolute;
    top: 70px;
    right: 0;
    padding: 10px;
  }
  .navigation-list li {
    display: block;
    border-bottom: solid 1px var(--primary-color);
    margin: 0;
    color: var(--primary-color);
    background-color: black;
    opacity: 90%;
  }
  #toggle:checked + .navigation-list {
    display: block;
  }
}
.hobbies {
  padding-left: 0;
  list-style-position: inside;
  list-style-type: none;
}

.about {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  max-width: 70vw;
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.contact__item {
  padding: 10px;
  width: auto;
  min-height: auto;
  margin: 0;
}

.contact__item:last-child {
  padding-left: 30px;
  border-left: 1px solid #fff;
}

.contact__item:first-child {
  text-align: right;
  padding-right: 20px;
}

/* overlock-regular - latin */
@font-face {
  font-family: "Overlock";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/overlock-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/overlock-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/overlock-v15-latin-regular.woff2") format("woff2"), url("../fonts/overlock-v15-latin-regular.woff") format("woff"), url("../fonts/overlock-v15-latin-regular.ttf") format("truetype"), url("../fonts/overlock-v15-latin-regular.svg#Overlock") format("svg"); /* Legacy iOS */
}
/* overlock-italic - latin */
@font-face {
  font-family: "Overlock";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/overlock-v15-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/overlock-v15-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/overlock-v15-latin-italic.woff2") format("woff2"), url("../fonts/overlock-v15-latin-italic.woff") format("woff"), url("../fonts/overlock-v15-latin-italic.ttf") format("truetype"), url("../fonts/overlock-v15-latin-italic.svg#Overlock") format("svg"); /* Legacy iOS */
}
/* overlock-700 - latin */
@font-face {
  font-family: "Overlock";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/overlock-v15-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/overlock-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/overlock-v15-latin-700.woff2") format("woff2"), url("../fonts/overlock-v15-latin-700.woff") format("woff"), url("../fonts/overlock-v15-latin-700.ttf") format("truetype"), url("../fonts/overlock-v15-latin-700.svg#Overlock") format("svg"); /* Legacy iOS */
}
/* overlock-800 - latin */
@font-face {
  font-family: "Overlock";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/overlock-v15-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/overlock-v15-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/overlock-v15-latin-900.woff2") format("woff2"), url("../fonts/overlock-v15-latin-900.woff") format("woff"), url("../fonts/overlock-v15-latin-900.ttf") format("truetype"), url("../fonts/overlock-v15-latin-900.svg#Overlock") format("svg"); /* Legacy iOS */
}
/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nunito-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v25-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v25-latin-regular.woff2") format("woff2"), url("../fonts/nunito-v25-latin-regular.woff") format("woff"), url("../fonts/nunito-v25-latin-regular.ttf") format("truetype"), url("../fonts/nunito-v25-latin-regular.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-700 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/nunito-v25-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v25-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v25-latin-700.woff2") format("woff2"), url("../fonts/nunito-v25-latin-700.woff") format("woff"), url("../fonts/nunito-v25-latin-700.ttf") format("truetype"), url("../fonts/nunito-v25-latin-700.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-800 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/nunito-v25-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v25-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v25-latin-800.woff2") format("woff2"), url("../fonts/nunito-v25-latin-800.woff") format("woff"), url("../fonts/nunito-v25-latin-800.ttf") format("truetype"), url("../fonts/nunito-v25-latin-800.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/nunito-v25-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v25-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v25-latin-italic.woff2") format("woff2"), url("../fonts/nunito-v25-latin-italic.woff") format("woff"), url("../fonts/nunito-v25-latin-italic.ttf") format("truetype"), url("../fonts/nunito-v25-latin-italic.svg#Nunito") format("svg"); /* Legacy iOS */
}
.project-list * {
  box-sizing: border-box;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  gap: 30px;
  margin: 0 auto;
  padding: 20px;
  max-width: 1200px;
  font-family: sans-serif;
}

.project-list__item {
  background-color: #c5c6c7;
  padding: 10px;
  width: auto;
  min-height: auto;
  margin: 0;
}

.project-list__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  /*can also be written in short form
    .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }*/
}

.tech-icon {
  width: 42px;
}

.card__content {
  margin-top: 10px;
  color: var(--text-color);
}

.link-wrapper {
  position: relative;
  bottom: 0;
  text-align: right;
}

.card__tag {
  position: relative;
  top: 18px;
  left: 18px;
  padding: 5px 7px;
  width: fit-content;
  border-radius: 2px;
  font-weight: bold;
  background-color: var(--primary-color-dk);
}

.card__image-wrapper {
  width: 99%;
  height: 230px;
  margin-bottom: 50px;
  background-color: var(--light-grey);
}

.card__image {
  max-width: 100%;
  height: 100%;
  margin: auto;
  object-fit: contain;
  display: block;
}

/* overlock-regular - latin */
@font-face {
  font-family: "Overlock";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/overlock-v15-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/overlock-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/overlock-v15-latin-regular.woff2") format("woff2"), url("../fonts/overlock-v15-latin-regular.woff") format("woff"), url("../fonts/overlock-v15-latin-regular.ttf") format("truetype"), url("../fonts/overlock-v15-latin-regular.svg#Overlock") format("svg"); /* Legacy iOS */
}
/* overlock-italic - latin */
@font-face {
  font-family: "Overlock";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/overlock-v15-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/overlock-v15-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/overlock-v15-latin-italic.woff2") format("woff2"), url("../fonts/overlock-v15-latin-italic.woff") format("woff"), url("../fonts/overlock-v15-latin-italic.ttf") format("truetype"), url("../fonts/overlock-v15-latin-italic.svg#Overlock") format("svg"); /* Legacy iOS */
}
/* overlock-700 - latin */
@font-face {
  font-family: "Overlock";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/overlock-v15-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/overlock-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/overlock-v15-latin-700.woff2") format("woff2"), url("../fonts/overlock-v15-latin-700.woff") format("woff"), url("../fonts/overlock-v15-latin-700.ttf") format("truetype"), url("../fonts/overlock-v15-latin-700.svg#Overlock") format("svg"); /* Legacy iOS */
}
/* overlock-800 - latin */
@font-face {
  font-family: "Overlock";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/overlock-v15-latin-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/overlock-v15-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/overlock-v15-latin-900.woff2") format("woff2"), url("../fonts/overlock-v15-latin-900.woff") format("woff"), url("../fonts/overlock-v15-latin-900.ttf") format("truetype"), url("../fonts/overlock-v15-latin-900.svg#Overlock") format("svg"); /* Legacy iOS */
}
/* nunito-regular - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nunito-v25-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v25-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v25-latin-regular.woff2") format("woff2"), url("../fonts/nunito-v25-latin-regular.woff") format("woff"), url("../fonts/nunito-v25-latin-regular.ttf") format("truetype"), url("../fonts/nunito-v25-latin-regular.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-700 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/nunito-v25-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v25-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v25-latin-700.woff2") format("woff2"), url("../fonts/nunito-v25-latin-700.woff") format("woff"), url("../fonts/nunito-v25-latin-700.ttf") format("truetype"), url("../fonts/nunito-v25-latin-700.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-800 - latin */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/nunito-v25-latin-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v25-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v25-latin-800.woff2") format("woff2"), url("../fonts/nunito-v25-latin-800.woff") format("woff"), url("../fonts/nunito-v25-latin-800.ttf") format("truetype"), url("../fonts/nunito-v25-latin-800.svg#Nunito") format("svg"); /* Legacy iOS */
}
/* nunito-italic - latin */
@font-face {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/nunito-v25-latin-italic.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/nunito-v25-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/nunito-v25-latin-italic.woff2") format("woff2"), url("../fonts/nunito-v25-latin-italic.woff") format("woff"), url("../fonts/nunito-v25-latin-italic.ttf") format("truetype"), url("../fonts/nunito-v25-latin-italic.svg#Nunito") format("svg"); /* Legacy iOS */
}

/*# sourceMappingURL=output.css.map */
