@import "../abstracts/_abstracts-dir";

body {
  background-color: $body-background;
}

main {
  min-height: 100%;
  flex: 1;
  text-align: left;
  padding: 0px 0px 9rem; // padding bottom 9rem --> footer size
  margin: 0;
}


@media all and (max-width: 767px) {
  // .main {
  //   padding: 100px 20px 9rem;
  // }
}
