@import "../abstracts/_abstracts-dir";

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  margin: 0 0 20px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  position: fixed;
  height: 100px;
  align-items: center;
  background-color: $navbar;
}

.logo {
  align-self: start;
  margin-right: 2rem;
}

.main-navigation {
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.navigation-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  width: 70%;
  font-size: 19px;
}
.navigation-list li {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  z-index: 0;
}

.navbar_item--active {
  font-weight: $font-bolder;
  color: $nav-active;
  background-color: $nav-active-bg;
  border-radius: 15px;
}

.navigation-list__item {
  &:hover {
    font-weight: $font-light;
  }
  &--active {
    color: $nav-active;
    &:hover {
      font-weight: $font-bolder;
    }
  }
}
#hamburger {
  display: none;
  color: $hamburger-clr;
  margin: 0 40px 0 0;
}
#toggle {
  display: none;
}
/* Nav. brackets go out  */
.container a {
  text-decoration: none;
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
  white-space: nowrap;
}
.brackets a:before,
.brackets a:after {
  position: absolute;
  opacity: 0;
  transition: all 0.3s;
}

.brackets a:before {
  content: "(";
  left: -10px;
  transform: translateX(20px);
}

.brackets a:after {
  content: ")";
  right: -10px;
  transform: translateX(-20px);
}

.brackets a:hover:before,
.brackets a:hover:after {
  opacity: 1;
  transform: translateX(0px);
}

@media all and (max-width: 767px) {
  #hamburger {
    display: block;
    cursor: pointer;
    width: 50px;
    font-size: 30px;
    font-weight: 700;
    float: right;
    margin-right: 0;
  }
  .navigation-list {
    text-align: center;
    width: 100%;
    display: none;
    clear: right;
    position: absolute;
    top: 70px;
    right: 0;
  }
  .navigation-list li {
    display: block;
    width: 100%;
    border-bottom: solid 1px $light-blue;
    border-radius: 0;
    margin: 0;
  }

  .navbar_item {
    background-color: $navbar;
  }
  .navbar_item--active {
    background-color: $nav-active-bg;
  }

  #toggle:checked + .navigation-list {
    display: block;
  }
}
