@import "../abstracts/_abstracts-dir";

%headers {
  font-family: "Overlock", serif;
  font-weight: $font-bold;
  text-align: center;
}

h1 {
  font-size: 40px;
  @extend %headers;
}

h2 {
  font-size: 36px;
  @extend %headers;
}

h3 {
  font-size: 30px;
  @extend %headers;
}

h4 {
  font-size: 24px;
  @extend %headers;
}
.navigation-list__item {
  font-family: "Overlock", serif;
  color: $nav-text;
}

.font-bold {
  font-weight: $font-bold;
}
