button,
.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: $button-bg-clr;
  color: $button-text-clr;
  text-decoration: none;
  /*adds spacing to the button*/
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  /* transition: [transition-duration] [transition-property] [transition-timing-function] [transition-delay]; */
  transition: 0.2s opacity;
  flex: 0 0 50px;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button2 {
  margin: auto;
  max-width: 250px;
}
.button__secondary {
  background-color: $button2-bg-clr;
  color: $button2-text-clr;
}

.cv-button {
  width: fit-content;
  white-space: nowrap;
  font-family: "Overlock", serif;
  font-size: 19px;
  margin-right: 20px;
}

@media all and (max-width: 440px) {
}
