@import "../abstracts/_abstracts-dir";

.tech-icon {
  width: 42px;
  height: 42px;
}

.project-icon a {
  text-decoration: none;
}

.icon-home {
  width: 50px;
}

.social-media__icon {
  margin: 0px 10px;
}

.download-icon {
  color: $white;
  filter: invert(100%);
}
