.about {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
  padding: 0 20px;
}

.description {
  margin: 0 20px;
}

.values-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.values {
  &__title {
    margin: 20px 0;
  }
  &__item {
    flex-grow: 1;
    padding: 0 10px;
    margin: 0 20px;
    min-width: 200px;
    max-width: 250px;
    justify-content: center;
  }
}
.value {
  &__header,
  &__description {
    margin: 10px 0;
  }
  &__description {
    text-align: justify;
  }
}

@media all and (max-width: 675px) {
  .values__item {
    max-width: 675px;
  }
}
